<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/bootstrap.css" />
	<include path="~/Content/fontawesome-all.min.css" />
  </styleBundle>
	<styleBundle path="~/sbadmin/css">
		<include path="~/sbadmin/css/sb-admin-2.min.css" />
	</styleBundle>
</bundles>