<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
	<appSettings>
		<add key="minutosGracia" value="10"/>
		<add key="llegadaTardia" value="2"/>
		<add key="omisionEntrada" value="3"/>
		<add key="omisionSalida" value="4"/>
		<add key="ausencia" value="5"/>
		<add key="salidaAnticipada" value="6"/>
	</appSettings>
	<connectionStrings>
		<add name="CUCMarcaEntities" connectionString="metadata=res://*/CUCMarcaModel.csdl|res://*/CUCMarcaModel.ssdl|res://*/CUCMarcaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Cartago;Initial Catalog=CUCMarca;user id=sa; password=Holamundo1!;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<!--
	   este servidor
	   <add name="CUCMarcaEntities" connectionString="metadata=res://*/CUCMarcaModel.csdl|res://*/CUCMarcaModel.ssdl|res://*/CUCMarcaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\MSSQLSERVER2019;Initial Catalog=tiusr20pl_Prueba;user id=RhCuc; password=RhCuc2022*;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	   
	   /// para local
	   <add name="CUCMarcaEntities" connectionString="metadata=res://*/CUCMarcaModel.csdl|res://*/CUCMarcaModel.ssdl|res://*/CUCMarcaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ALBERTO-PC\QSOFT2017;Initial Catalog=CUCMARCA;user id=sa; password=QsoftMSDEsa2005;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />

		
	 -->
	</connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>